name: Release

permissions:
  contents: write

on:
  push:
    tags:
      - v[0-9]+.*


jobs:
  create-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Create GitHub release
        uses: taiki-e/create-gh-release-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Store pushed tag
        id: vars
        run: echo "tag=${GITHUB_REF#refs/*/}" >> $GITHUB_OUTPUT

# upload-binaries:
#   needs: create-release

#   strategy:
#     matrix:
#       include:
#         - target: aarch64-unknown-linux-gnu
#           os: ubuntu-latest

#         - target: x86_64-unknown-linux-gnu
#           os: ubuntu-latest

#         - target: x86_64-unknown-linux-musl
#           os: ubuntu-latest

#         - target: aarch64-unknown-linux-musl
#           os: ubuntu-latest

#         - target: aarch64-apple-darwin
#           os: macos-latest

#         - target: x86_64-apple-darwin
#           os: macos-latest

#     # Try to complete every job in the matrix, even if one fails.
#     fail-fast: false

#   runs-on: ${{ matrix.os }}

#   steps:
#     - uses: actions/checkout@v4
#     - uses: taiki-e/install-action@v2
#       with:
#         tool: cross

#     # Run the build & upload artifacts
#     - name: Build and upload binaries
#       uses: taiki-e/upload-rust-binary-action@v1

#       with:
#         bin: random_reader
#         no_default_features: true
#         target: ${{ matrix.target }}
#         checksum: sha256
#         token: ${{ secrets.GITHUB_TOKEN }}
  check:
    runs-on: ubuntu-latest
    needs: create-release
    steps:
      - name: Look at release version
        run: |
          echo "Tag  needs.create-release.vars.outputs.tag : ${{ needs.create-release.vars.outputs.tag }}"
          echo "Tag  needs.vars.outputs.tag : ${{ needs.vars.outputs.tag }}"
          echo "Tag  needs.create-release.vars.tag  : ${{ needs.create-release.vars.tag }}"
          echo "Tag  needs.create-release.outputs.tag : ${{ needs.create-release.outputs.tag }}"

# upload-container:
#   needs: create-release
#   runs-on: ubuntu-latest
#   permissions:
#     packages: write
#   steps:
#   - name: Checkout Code
#     uses: actions/checkout@v4

#   - name: Set up Docker Buildx
#     uses: docker/setup-buildx-action@v3

#   - name: Login to GitHub Container Registry
#     uses: docker/login-action@v3
#     with:
#       registry: ghcr.io
#       username: ${{ github.actor }}
#       password: ${{ secrets.GITHUB_TOKEN }}

#   - name: Build and push Docker image
#     uses: docker/build-push-action@v6
#     with:
#       context: .
#       file: ./Dockerfile
#       push: true
#       platforms: linux/amd64, linux/arm64
#       tags: ghcr.io/${{ github.repository }}:latest, ghcr.io/${{ github.repository }}:${{ needs.create-release.outputs.tag }}
